@model Jqpress.Web.Models.CommentModel
@{
    Layout = null;
}

<div id="comments">	
			<h3>(@Model.Comments.Count)条评论 </h3>
		<ol class="comment_list">
         @foreach(var item in Model.Comments){
		    <li id="comment-comment-@(item.CommentId)" class="comment even thread-even depth-1">
		    <div class="comment-body" id="div-comment-1">
            <div class="comment-author vcard">
            <img width="26" height="26" class="avatar avatar-26 photo avatar-default" 
            src="http://www.gravatar.com/avatar/@(item.GravatarCode)?size=26" alt="@item.Author">		
            <cite class="fn">@item.AuthorLink </cite> <span class="says">说：</span></div>
    
            <div class="comment-meta commentmetadata">@item.CreateTime.ToString("yyyy-MM-dd HH:mm") </div>
    
            <p>   
            @if(item.Approved==1){
                <span>@item.Contents</span>
               }
            </p>
    
            <div class="reply">
               <a onclick="return PressComment.replyAuthor('@(item.Author)',@(item.CommentId))" href="javascript:void(0)" class="comment-reply-link">回复</a></div>
            </div>
            </li>
          }
		</ol>
        
         
			<div id="respond">
				<h3 id="reply-title">发表评论 
                <small>
                    <a style="display:none;"  id="cancel-comment-reply-link" rel="nofollow">取消回复</a>
                 </small>
                </h3>
        
       
        <form id="commentform" method="post" action="@Url.Action("Add","Comment")">
        <input type="hidden" id="ReplyToCommentId"  name="ReplyToCommentId"  value="0" />
		<p class="comment-notes">电子邮件用于回复通知和<a href="http://www.gravatar.com/">avatar全球唯一头像</a>  <span class="required">*</span></p>
        
        <p class="comment-form-author"><label for="author">名称</label> <span class="required">*</span>
        <input type="text" aria-required="true" size="30" name="Author" id="Author" >
        </p>
        
        <p class="comment-form-email"><label for="email">电子邮件</label> <span class="required">*</span> 
       <input type="text" aria-required="true" size="30" name="Email" id="Email" >
        </p>
        
         <p class="comment-form-url"><label for="url">网站</label>
         <input type="text" size="30"  name="AuthorUrl" id="AuthorUrl" >
         </p>
		 @if(Model.EnableVerifyCode==1){
        <p  style="width:700px;">
            <label for="commentverifycode" style="float:left">验证码(*)</label>
           
           
            <input id="commentverifycode" size="4" style="width:80px;float:left; margin-left:70px;" name="commentverifycode"  type="text"  />
             <img align="absbottom" onclick="this.src='${Model.sitepath}common/verifycode.aspx?time=' + Math.random()" src="${Model.sitepath}common/verifycode.aspx" style="cursor: pointer; height:28px" alt="点击刷新"/>
        </p>
       }
			
         <p class="comment-form-comment"><label for="comment">评论</label>
          <textarea aria-required="true" name="commentcontent" id="commentcontent" cols="65" rows="8" style="margin-right:500px;"  ></textarea>
         </p>	
         

         					
         <p class="form-submit">
		<input type="button" value="发表评论" id="submit" name="submit" onclick="PressComment.doComment();" />
     
        <input type="hidden" id="postid" name="postid" value="@Model.PostId" />
		  </p>
		</form>
			</div>
         
            <!-- #respond -->
	</div>
	
	<script type="text/javascript" src="/common/scripts/comment.js"></script>
    
    
    
    
    
    
    
    
    
    