@using Jqpress.Framework.Mvc
@using Jqpress.Framework.Web;
@model Jqpress.Web.Areas.Admin.Models.CateModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Category.CategoryId > 0 ? "修改分类 - 管理中心 - Powered by Jqpress" : "添加分类 - 管理中心 - Powered by Jqpress";
}

<script type="text/javascript">
    function checkForm() {
        var title = $("#Title");

        if (title.text() == "") {
            //$("#lableTitle").css("color","red");
            //return false;
        }
    }
</script>

<!-- BEGIN PAGE HEADER-->
<div class="row">
<div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
        @(Model.Category.CategoryId > 0 ? "编辑" : "添加")分类 
    </h3>
    <!-- END PAGE TITLE & BREADCRUMB-->
</div>
</div>
<!-- END PAGE HEADER-->



 @Html.JPartial("_Notifications")


<div class="portlet-body form">
    <form name="form1" method="post" action="@Url.Action("Save", "Category")" enctype="multipart/form-data" >
    <input type="hidden"  id="CategoryId" name="CategoryId" value="@Model.Category.CategoryId" />

    <div class="form-body">
                           
        <div class="form-group">
            <label for="CateName">名称：</label>
            <input type="text" id="CateName" name="CateName" value="@Model.Category.CateName" class="form-control"  style="width:80%" />
        </div>

        <div class="form-group">
            <label for="CategoryId">父类：</label>
            @Html.DropDownList("ParentId", Model.CateSelectItem, new { @class = "form-control input-medium" })
        </div>
        <div class="form-group">
            <label for="PageName">别名：</label>
            <input type="text" id="PageName" name="PageName" value="@Model.Category.PageName" class="form-control"  style="width:20%" />
            <span>“别名”是对于 URL 友好的一个别称。它通常为小写并且只能包含字母，中文，数字和连字符（-）。</span>
        </div>

        <div class="form-group">
            <label for="PageName">排序：</label>
            <input type="text" id="SortNum" name="SortNum" value="@Model.Category.SortNum" class="form-control"  style="width:20%" />
            <span>数字越小越靠前</span>
        </div>
                         
        <div class="form-group">
            <button type="submit" name="btnEdit"  onclick="return checkForm();" id="btnEdit" class="btn btn-primary" >@(Model.Category.CategoryId > 0 ? "修改" : "添加")</button>
            <button type="button" class="btn btn-default" onclick="history.go(-1)" >返回 </button>
        </div>


    </div>
                        
    </form>
</div>

