@using Jqpress.Framework.Mvc
@model Jqpress.Web.Areas.Admin.Models.UserListModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "用户列表 - 管理中心 - Powered by Jqpress";
}
<script type="text/javascript">
    $(document).ready(function () {
        ///全选
        $("#checkAll").click(function () {
            if (this.checked) {
                $("input[name='chkid']").attr("checked", true);
            } else {
                $("input[name='chkid']").attr("checked", false);
            }
        });
        ///批量操作
        $("#doaction").click(function () {
            var chkid = $("input[name='chkid']");
            var strid = "";
            $.each(chkid, function (i, n) { if (n.checked) { strid = strid + (n.value) + ","; } });
            if (strid != "") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Deletes", "Post")',
                    data: "action=" + $("#selectact").val() + "&strid=" + strid,
                    success: function (msg) { $.each(chkid, function (i, n) { if (n.checked) { $("#post" + n.value).hide(600); } }); }
                });
            }
        });

    });

    //修改操作
    function getJsonData(id) {
        $.getJSON('@Url.Action("Edit", "User",new{dt=DateTime.Now})',{id:id}, function (json) {
            $("#UserName").val(json.UserName);
            $("#NickName").val(json.NickName);
            $("#Email").val(json.Email);
            $("#UserId").val(json.UserId);
            $("#submit").val("修改");
            $(".formzone").show("slow");
        });
    }

    $(document).ready(function () {
        //初始化表单
        function InitForm() {
            $(':text').each(function (i, n) { n.value = ''; });
            $('#UserId').each(function (i, n) { n.value = ''; });
            $("#submit").val("添加");
        }

        //添加事件
        $("#addbtn").click(function () {
            if ($(".formzone").css("display") == "none") {
                InitForm();
                $(".formzone").show("slow");
            } else {
                $(".formzone").hide("slow");
            }
        });
        //绑定删除事件
        $(".row td .delete").bind("click", function () { deleteRow(this.id); });
        //绑定修改事件
        $(".row td .edit").bind("click", function () { getJsonData(this.id) });

        //取消事件
        $("#btncancle").click(function () {
            if ($(".formzone").css("display") == "none") {
                InitForm();
                $(".formzone").show("slow");
            } else {
                $(".formzone").hide("slow");
            }
        });
        //保存事件
        $('#aspnetForm').submit(function () {
            if ($("#txtUserName").val() == '') { return; }
            var act = "add";
            if ($("#UserId").val() != '') { act = "update"; }

            jQuery.ajax({
                type: 'POST', // 设置请求类型为 ‘POST’，默认为 ‘GET’
                url: '@Url.Action("Save", "User",new{dt=DateTime.Now})', //
                data: $('#aspnetForm').serialize(), // 从表单中获取数据  
                beforeSend: function () { },
                error: function (XMLHttpRequest, textStatus, errorThrown) { alert(textStatus); },
                dataType: 'json',
                success: function (data) {

                    if (data.err != undefined) { if (data.err != '') { alert(data.err); return; } }

                    var _tr = "<tr class='row' style='background:#FFECC6' id='row" + data.UserId + "'>";
                    _tr += "<td>" + data.SortNum + "</td>";
                    _tr += " <td>[" + data.UserType + "]" + data.Link + "</td>";
                    _tr += " <td>" + data.PostCount + "/" + data.CommentCount + "</td>";
                    _tr += " <td>" + (data.Status == "1" ? "<img src=\"../images/yes.gif\" title=\"使用\"/>" : "<img src=\"../images/no.gif\" title=\"停用\"/>") + "</td>";
                    _tr += " <td>" + data.CreateTime + "</td>";
                    _tr += "<td><a class='edit' href='javascript:getJsonData(" + data.UserId + ")' id='" + data.UserId + "'>编辑</a> <a class='delete' href='javascript:deleteRow(" + data.UserId + ")'  id='" + data.UserId + "'>删除</a></td>";
                    _tr += "</tr>";
                    InitForm();
                    $(".formzone").hide("slow");

                    if (act == "update") {
                        $("#row" + data.UserId).replaceWith(_tr);
                    } else {
                        $(".tbl1").append(_tr);
                        $(".total strong").text(parseInt($(".total strong").text()) + 1)
                    }

                }
            });
            return false;
        });


    });
 
</script>

<div class="body_nav">
		<div class="left">用户管理</div>
			<div class="right" style="padding-top:6px;">
			  <a class="addbtn" href="javascript:void(0)" id="addbtn">添加用户</a></div>
	   <div class="clr"></div>
</div>
<div class="formzone" style="display:none;">
   <input type="hidden" id="UserId" name="UserId" value="" />
    <div>
        <label class="label" >角色:</label>
        @Html.DropDownList("", Model.RolesCateItem, new { @class = "select" })
    </div>
    <div>
        <label class="label" >用户名:<span class="small gray">(字母,数字,中文,连字符)</span></label>
        <input type="text" value="" id="UserName" name="UserName" class="solid-text" />
    </div>
    <div>
        <label class="label">昵称:</label>
        <input type="text" value="" id="NickName" name="NickName" class="solid-text"  />
    </div>
    <div>
        <label class="label" >密码:<span class="small gray"></span></label>
        <input type="password" value="" id="Password" name="Password" class="solid-text" />
    </div>
    <div>
        <label class="label">确认密码:<span class="small gray"></span></label>
        <input type="password" value="" id="Password2" name="Password2" class="solid-text" />
    </div>
    <div><label class="label" >邮箱:</label>

        <input type="text" value="" id="Email" name="Email" class="solid-text" />

    </div>
   
    <div>
        <input type="checkbox" id="Status" name="Status" value="1" /> 可用
     </div>
     <div>
         <input type="submit" class="button" id="submit" value="添加" />
        <input type="button" class="button" id="btncancle" value="取消" />
     </div>
</div>

    <table width="100%" class="tbl1">
        <tr class="header">
            <td>作者(用户名)</td>
            <td>文章/评论</td>
            <td>状态</td>
            <td>创建日期</td>
            <td>操作</td>
        </tr>
 
 @foreach (var item in Model.UserList)
 {
		  <tr id="post@(item.UserId)">
			<td><input type="checkbox" name="chkid" value="@item.UserId" /> </td>
			<td>
			@(new HtmlString(item.Link))
            @item.PostCount /
            @item.CommentCount
			</td>
            <td>状态</td>
			<td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
			<td>
			  	<span><a href="edit?id=@item.UserId"> 编辑 </a></span>
				<span><a onclick="return confirm('确定要删除吗?');" href="delete?id=@item.UserId"> 删除</a></span>
		    </td>
		  </tr>
 }


    </table>
