@using Jqpress.Framework.Mvc
@using Jqpress.Framework.Utils;
@model Jqpress.Web.Areas.Admin.Models.CommentModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "评论管理 - 管理中心 - Powered by Jqpress";
}

<script type="text/javascript">
    var checkFlag = true;
    function chooseAll() {
        if (checkFlag) // 全选　
        {
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "checkbox" && inputs[i].id != "checkAll") {
                    inputs[i].checked = true;
                }
            }
            checkFlag = false;
        }
        else  // 取消 
        {
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].type == "checkbox" && inputs[i].id != "checkAll") {
                    inputs[i].checked = false;
                }
            }
            checkFlag = true;
        }
    }

    function approve(id) {
        $.ajax({
            url: '@Url.Action("Approve", "Comment",new{dt=DateTime.Now})',
            data: { id: id },
            success: function (msg) {
                if (msg == "approve") {
                    $("#row" + id + " .img-approve").attr("src", "/Content/images/yes.gif").attr("title", "已审核");
                    $("#row" + id + " .approve").text("取消审核");
                } else if (msg == "unapprove") {
                    $("#row" + id + " .img-approve").attr("src", "/Content/images/no.gif").attr("title", "未审核");
                    $("#row" + id + " .approve").text("审核");
                 }
            }
        });
    }

    //delete comment
    function deleteRow(id) {
        if (confirm('确认删除?')) {
            $.ajax({
                url: '@Url.Action("Delete", "Comment",new{dt=DateTime.Now})',
                data: { id: id },
                success: function (msg) {
                    $("#row" + id).fadeOut(500);
                }
            });
        }
    }
    //batch delete comment
    function deleteRows() {
        var chkid = $('input[name="CommentId"]');

        if (chkid == undefined || chkid == "") {
            alert("请选择评论");
            return;
        }
        if (confirm('确认删除选择的评论')) {
            $.each(chkid, function (i, n) {
                if (n.checked) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Comment",new{dt=DateTime.Now})',
                        data: { id: n.value },
                        success: function (msg) {
                            $("#row" + n.value).fadeOut(500);
                        }
                    });           
                }
            });
        }
    }
    $(document).ready(function () {
        $(".row td .delete").bind("click", function () { deleteRow(this.id); });
        $(".row td .approve").bind("click", function () { approve(this.id); });
    });
</script>

<div class="body_nav"><div class="left">评论</div></div>
    <table width="100%" class="tbl1">
        <tr class="header">
            <td style="width:5%;">选择</td>
            <td style="width:25%;">作者</td>
            <td style="width:50%;">评论</td>
            <td style="width:8%;">审核</td>
            <td style="width:10%;">操作</td>
        </tr>
         @foreach(var item in Model.CommentList){
                <tr class="row" id="row@(item.CommentId)">
                    <td><input type="checkbox"  name="CommentId" value='@item.CommentId' /></td>
                    <td style="line-height:150%;">

                    <div style="float:left;">
                    <div  style="float:left; padding:0 8px 0 0;">
                            <img src="http://www.gravatar.com/avatar/@item.GravatarCode?size=32" style="width:32px ;height :32px; border:1px solid #999;" alt="gravatar 图像" title="gravatar 图像"/>
                    </div>
                        @Html.Raw(item.AuthorLink)
                        <br />
                        @item.Email

                        </div>
                    <br />
                    </td>
                   
                    <td>      
                       <a href="@item.Url">
                        <span title="@item.Contents">
                            @StringHelper.CutString(StringHelper.RemoveHtml(item.Contents),0,60)
                        </span>
                       </a>
                        <br />
                        <span class="gray small" >@item.CreateTime</span>
                        
                    </td>
                     
                     
                    <td>@if(item.Approved==1){
                            <img class="img-approve" src="/Content/images/yes.gif" title="已审核"/> 
                        }else{
                             <img class="img-approve" src="/Content/images/no.gif" title="未审核"/>
                        }
                            </td>
                    <td>
                          @if (item.Approved == 0)
                          {
                              <a class="approve"  href="javascript:void(0)" id="@item.CommentId">审核</a>
                          } else { 
                              <a class="approve" href="javascript:void(0)" id="@item.CommentId">取消审核</a>                          
                          }
                          <br />
                         <a class="delete" href="javascript:void(0)" id="@item.CommentId">删除</a>   
                    </td>
                </tr>
         }
        <tr class="rowend">
            <td colspan="8">
                <input id="checkAll" onclick="chooseAll()" type="checkbox" name="checkAll" /><label for="checkAll">全选</label>
                <input type="submit" name="btnDelete" value="删 除" onclick="deleteRows()" id="btnDelete" class="button" />            </td>
        </tr>
    </table>
    
<div id="pager" class= "pager">@Html.Pager(Model.PageList).ShowTotalSummary(true).ShowIndividualPages(true)</div>

