@using Jqpress.Framework.Mvc
@model Jqpress.Web.Areas.Admin.Models.PostListModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "文章列表 - 管理中心 - Powered by Jqpress";
}
<script type="text/javascript">
    $(document).ready(function () {
        ///全选
        $("#checkAll").click(function () {
            if (this.checked) {
                $("input[name='chkid']").attr("checked", true);
            } else {
                $("input[name='chkid']").attr("checked", false);
            }
        });
        ///批量操作
        $("#doaction").click(function () {
            var chkid = $("input[name='chkid']");
            var strid = "";
            $.each(chkid, function (i, n) { if (n.checked) { strid = strid + (n.value) + ","; } });
            if (strid != "") {
                $.ajax({
                    type: "GET",
                    url: "post_list.aspx",
                    data: "action=" + $("#selectact").val() + "&strid=" + strid,
                    success: function (msg) { $.each(chkid, function (i, n) { if (n.checked) { $("#post" + n.value).hide(); } }); }
                });
            }
        });

    });
</script>
   <div class="body_nav">
			<div class="left">文章管理 <span style="font-size:9px;">&gt;&gt;</span>列表</div> </div>
        
        
<div class="table-top">
  <select name="action" id="selectact" class="select">
    <option value="-1" selected="selected">批量操作</option>
	<option value="deletes">删除</option>
  </select>
   <input type="button" name="" id="doaction" class="button" value="应用" />
   
   <input type="text" value="" id="txtKeyword" runat="server" class="solid-text" size="10" /> 关键字 
   @Html.DropDownList("CategoryId", Model.CateSelectItem, new { @class = "select" })
   <input type="submit" name="btnFilter" value="过滤" id="btnFilter" class="button" />
</div>

<table class="tbl1" width="100%" border="0" cellspacing="0" cellpadding="0">
        
		 <tr class="header">
			<td><input type="checkbox" name="checkAll" id="checkAll" /></td>
			<td>标题</td>
			<td>评论/浏览</td>
			<td>日期</td>
			<td>操作</td>
			
		  </tr>
          		  
		 
	@foreach (var item in Model.PostList)
    {
		  <tr id="post @item.PostId">
			<td><input type="checkbox" name="chkid" value="@item.PostId" /> </td>
			<td>
			[@(new HtmlString(item.Author.Link))]
			@(new HtmlString(item.Link))
            @item.Status 
            @item.PostStatus
			</td>
			<td>@item.CommentCount/@item.ViewCount</td>
			<td>@item.PostTime.ToString("yyyy-MM-dd")</td>
			<td>
			  	<span><a href="edit?id=@item.PostId"> 编辑 </a></span>
				<span><a onclick="return confirm('删除文章同时会删除该文章的相关评论,确定要删除吗?');" href="delete?id=@item.PostId"> 删除</a></span>
		    </td>
		  </tr>
   }
          
</table>
		  		
@Html.Pager(Model.PageList)
