@using Jqpress.Core.Template
@Model Jqpress.Web.Models.FootModel
@{
    var site = new JTag.Site();      
    Layout = null;
}

    <!--footer-->
<aside id="footer_box">

	<div id="linkcat">
	    @foreach (var item in Model.RecentTags)
     {
            <a href="@item.Url" title="@item.Description">@item.CateName</a><span>(@item.PostCount)</span>
     }
        <br />
        友链：
        @foreach (var item in @Model.GeneralLinks)
        {
            <a href="@item.LinkUrl" title="@item.Description" target="@item.Target">@item.LinkName</a>
        }
	</div>
</aside>

<footer id="footer">
	<p>
		@site.FooterHtml
    . Powered by <a href="http://www.jqpress.com" target="_blank">Jqpress Blog</a>
    . Theme by <a href="http://www.jqpress.com" target="_blank">机器鸟</a>
	</p>
</footer>